AddDefaultCharset utf-8

php_value memory_limit 50M

ErrorDocument 404 /

<Files .htpasswd>
    deny from all
</Files>

<Files ~ "(upload\.html|set\.php)">
    AuthName "Access restricted"
    AuthType Basic
    AuthUserFile /home/zff/www/site1/public_html/.htpasswd
    require valid-user
</Files>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch .*\.(js|css)$>
    Header set Cache-control: private
  </FilesMatch>
  <FilesMatch .*\.(gif|jpg|png)$>
    Header set Cache-control: public
  </FilesMatch>
</IfModule>

#<IfModule mod_deflate.c>
#  AddOutputFilterByType DEFLATE text/html
#  AddOutputFilterByType DEFLATE application/javascript
#  AddOutputFilterByType DEFLATE text/javascript
#  AddOutputFilterByType DEFLATE text/css
#  <IfModule mod_setenvif.c>
#    BrowserMatch ^Mozilla/4 gzip-only-text/html
#    BrowserMatch ^Mozilla/4\.0[678] no-gzip
#    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
#  </IfModule>
#</IfModule>
